@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    min-width: 1460px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/*top*/
#top_wrap {
    height: 30px;
    background-color: #EEEEEE;
}

#top {
    width: 1320px;
    margin: 0 auto;
}

.top_link {
    float: right;
}

.top_link li {
    float: left;
    margin-right: 14.5px;
}

.top_link li a {
    vertical-align: middle;
    font-size: 13px;
    color: #545454;
}

.top_link li>a span {
    display: inline-block;
    width: 8px;
    height: 6px;
    background: url(../images/header/language_button.png) no-repeat;
    margin: 4px 3px 2px 3px;
}

/*header*/
#header_wrap {
    height: 80px;
    background-color: #B83030;
}

#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 24px 0;
    width: 142px;

}

.logo img {
    display: block;
    width: 100%;
}

.in {
    width: 142px;
}

.gnb {
    margin-top: 25px;
    display: inline-block;
}

.gnb>li {
    float: left;
}

.gnb>li>a {
    display: block;
    padding: 4px 14px 24px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 14px;
    color: #fff;
}

.gnb li a:hover {
    border-bottom: 3px solid #fff;
}

/*content*/
#content {
    width: 1320px;
    margin: 0 auto;
    min-height: 820px;
    padding: 80px 0 120px;
}
.title {
    text-align: center;
    margin-bottom: 50px;
    display: block;
}
.login {
    width: 800px;
    margin: 0 auto;
}
.tabWide ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.tabWide li.on {
    border-color: #B83030;
}
.tabWide li.on a {
    background-color: #B83030;
    color: #fff;
}
.tabWide li {
    display: table-cell;
    max-width: 0;
    text-align: center;
    border: 1px solid #ddd;
}
.tabWide li a {
    display: block;
    background-color: #fff;
    color: #111;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.login .whiteBox {
    margin-top: 30px;
    padding-bottom: 50px;
}
.whiteBox {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.04);
}
.inputArea .row {
    margin: 0 -10px;
}
.inputArea .row .col {
    float: none;
    width: 100%;
    padding: 0 10px;
}
.inputArea .label {
    height: 32px;
    font-size: 15px;
    color: #666;
}
label {
    padding: 0;
    margin: 0;
    /* vertical-align: middle; */
    display: block;
}
.inputArea .group {
    position: relative;
}
input[type="email"], input[type="number"], input[type="password"]{
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #fafafa;
    letter-spacing: 0;
}
.inputArea .group:after {
    content: '';
    display: block;
    clear: both;
}
.inputArea .row:after {
    content: '';
    display: block;
    clear: both;
}

.inputArea .row + .row {
    margin-top: 30px;
}

.inputArea .row {
    margin: 0 -10px;
}
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -9999px;
}
input {
    overflow: visible;
    vertical-align: middle;
}
input[type="checkbox"] + label {
    font-size: 16px;
    color: #666;
    cursor: pointer;
    position: relative;
    padding: 2px 0 1px 35px;
    line-height: 22px;
}
input[type="checkbox"]:checked + label span {
    background-position: 0 100%;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url(../images/login/checkbox1.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}
.btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 160px;
    padding: 0 15px;
    background-color: #B83030;
    vertical-align: middle;
    border-radius: 2px;
    transition: 0.15s all;
}
.btns {
    text-align: center;
    padding: 10px 0 0;
    clear: both;
}
.btn.xlarge {
    height: 80px;
    line-height: 80px;
    min-width: 350px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 3px;
}
.btn.blue {
    background: #B83030;
    color: #fff !important;
}
.loginMenu {
    text-align: center;
}
.loginMenu li {
    display: inline;
    padding: 0 20px 0 22px;
    position: relative;
    font-size: 16px;
}
.loginMenu li a {
    color: #666;
}
.loginMenu li:after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}
.loginMenu li:first-child::after {
    display: none;
}
/*footer*/
#footer {
    background-color: #EEEEEE;
    height: 245px;
    /* margin-top: 150px; */
}

#footer .inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

#footer .logo {
    width: 232px;
    height: 43px;
    background: url('../images/footer/footer_logo.svg') 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 95px
}

#footer .menu {
    width: 1053px;
    /* padding-top: 50px; */
    padding: 50px 0 0 267px;
}

#footer .menu ul:after {
    content: '';
    display: block;
    clear: both
}

#footer .menu li {
    float: left;
}

#footer .menu li+li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #888;
    margin: 0 11px 0 10px;
    vertical-align: text-bottom;
}

#footer .menu a {
    letter-spacing: -0.05em;
}

#footer .menu a:hover {
    color: #B83030;
    font-weight: 400;
}

#footer .sns {
    position: absolute;
    right: 40px;
    top: 67px;
}

#footer .sns ul:after {
    content: '';
    display: block;
    clear: both
}

#footer .sns li {
    float: left;
    margin-left: 12px;
}

#footer .sns li:first-child {
    margin-left: 0;
}

#footer .sns li a {
    display: block;
    width: 56px;
    height: 56px;
}

#footer .info {
    color: #000;
    line-height: 26px;
    letter-spacing: 0;
    padding: 35px 0 0 267px;
}

#footer .copyright {
    color: #000;
    font-family: 'Nanum Gothic';
    letter-spacing: 0;
    padding: 15px 0 0 267px;
}

#footer .copyright a:hover {
    text-decoration: underline;
}



.sns {
    position: absolute;
    top: 20px;
    right: 0;
}

.sns li {
    float: left;
    margin-left: 12px;
}

.sns li a img {
    opacity: 0.5;
}

.sns li a img:hover {
    opacity: 1;
}

.cre_mark {
    position: absolute;
    top: 133px;
    right: 58px;
}

.cre_mark li {
    float: left;
    margin-left: 12px;
}
