@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

*[class] {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    min-width: 1460px;
}

/*top*/
#top_wrap {
    height: 30px;
    background-color: #EEEEEE;
}

#top {
    width: 1320px;
    margin: 0 auto;
}

.top_link {
    float: right;
}

.top_link li {
    float: left;
    margin-right: 14.5px;
}

.top_link li a {
    vertical-align: middle;
    font-size: 13px;
    color: #545454;
}

.top_link li>a span {
    display: inline-block;
    width: 8px;
    height: 6px;
    background: url(../images/header/language_button.png) no-repeat;
    margin: 4px 3px 2px 3px;
}

/*header*/
#header_wrap {
    height: 80px;
    background-color: #B83030;
}

#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 24px 0;
    width: 142px;

}

.logo img {
    display: block;
    width: 100%;
}

.in {
    width: 142px;
}

.gnb {
    margin-top: 25px;
    display: inline-block;
}

.gnb>li {
    float: left;
}

.gnb>li>a {
    display: block;
    padding: 4px 14px 24px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 14px;
    color: #fff;
}

.gnb li a:hover {
    border-bottom: 3px solid #fff;
}

/*sub-visual*/
.sub-visual {
    margin: 0 auto;
}

.service_back {
    background: url(../images/sub2_service/service_back.png)no-repeat center;
    height: 720px;
}

.visual_txt {
    width: 1320px;
    margin: 0 auto;
    padding-top: 264px;
    height: 240px;
    text-align: center;
    color: #ffffff;
}

.visual_txt h1 {
    font-size: 42px;
    font-weight: 500;
}

.h1_box::after {
    content: '';
    width: 75px;
    height: 3px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: -1px;
    margin-top: 28px;
}

.visual_txt p {
    font-size: 16px;
}

.visual_txt p:nth-child(2) {
    padding: 40px 0 15px;
}

/*section1*/
.service_tit {
    width: 1320px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 42px;
    position: relative;
}

.service_tit::before {
    content: "";
    /* display: block; */
    width: 75px;
    height: 3px;
    background-color: #B83030;
    position: absolute;
    left: 298px;
    top: 28px;
}

.section1 {
    height: 210px;
    margin-top: 100px;
}

.bvbb {
    /* padding-top: 6.6rem; */
    width: 1320px;
    height: 210px;
    margin: 0 auto;
    position: relative;
}

.bvbb .video.-bg-type {
    padding: 0 2rem 0 50%;
}

.bvbb .video__source {
    min-height: 250px;
    padding-bottom: 0;

}

.bvbb .video.-bg-type video,
.bvbb .video.-bg-type img {
    position: absolute;
    top: -100px;
    right: 0;
    width: 510px;
    height: 255px;
}

.bvbb .video.-bg-type .video__text {
    position: absolute;
    top: 60px;
    left: 0;
    width: 39%;
    margin-top: 0;
    line-height: 32px;
}

/*.service_tab*/
.service{
    width: 1320px;
    height: 450px;
    margin: 100px auto;
}
.service_list{
    height: 142px;
}
.board li{
    text-align: center;
    float: left;
    width: 250px;
    height: 142px;
    background-color: #F1F1F1;
    margin-left: 17px;
}
.board li:first-child{
    margin-left: 0;
}
.board li a .T_img{
    margin-top: 26px;
}
.board li a:hover{
    color: #fff;
}
.board li:hover{
    background-color: #B83030;
}
.board .on{
    background-color: #B83030;
    color: #fff;
}
.board .on a{
    color: #fff;
}
.service_txt{
    margin-top: 16px;
    padding: 20px;
    height: 290px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.service_txt p{
    padding-bottom: 15px;
}
/*bundle*/
.bundle_t {
    width: 1320px;
    margin: 50px auto;
    position: relative;
}

.bundle_tit {
    margin-top: 100px;
    font-size: 42px;
    position: relative;
}

.bundle_tit::before {
    content: "";
    /* display: block; */
    width: 75px;
    height: 3px;
    background-color: #B83030;
    position: absolute;
    left: 305px;
    top: 30px;
}

.bundle_t p {
    font-size: 24px;
    margin-top: 25px;
}

.bundle_t .set_icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bundle_v {
    margin: 0 auto;
    /* margin-top: 50px; */
    /* position: relative; */
}

.bundle_back {
    background: url(../images/sub2_service/bnudle_banner.png)no-repeat center;
    height: 320px;
}

.bundle_v_txt {
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0 0 880px;
}
.bundle_v_txt p{
    font-size: 20px;
    margin: 30px 0;
    font-weight: 500;
}
.bundle_v_txt h2{
    font-size: 24px;
    font-weight: 500;
}
.bundle_v_txt b{
    font-size: 24px;
}
.bundle_v_txt a{
    display: inline-block;
    background-color: #B83030;
    color: #fff;
    padding: 4px 8px;
}
.F_btn {
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 264px;
    z-index: 9;
}
/*footer*/
#footer {
    background-color: #EEEEEE;
    height: 245px;
    /* margin-top: 150px; */
}

#footer .inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

#footer .logo {
    width: 232px;
    height: 43px;
    background: url('../images/footer/footer_logo.svg') 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 95px
}

#footer .menu {
    width: 1053px;
    /* padding-top: 50px; */
    padding: 50px 0 0 267px;
}

#footer .menu ul:after {
    content: '';
    display: block;
    clear: both
}

#footer .menu li {
    float: left;
}

#footer .menu li+li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #888;
    margin: 0 11px 0 10px;
    vertical-align: text-bottom;
}

#footer .menu a {
    letter-spacing: -0.05em;
}

#footer .menu a:hover {
    color: #B83030;
    font-weight: 400;
}

#footer .sns {
    position: absolute;
    right: 40px;
    top: 67px;
}

#footer .sns ul:after {
    content: '';
    display: block;
    clear: both
}

#footer .sns li {
    float: left;
    margin-left: 12px;
}

#footer .sns li:first-child {
    margin-left: 0;
}

#footer .sns li a {
    display: block;
    width: 56px;
    height: 56px;
}

#footer .info {
    color: #000;
    line-height: 26px;
    letter-spacing: 0;
    padding: 35px 0 0 267px;
}

#footer .copyright {
    color: #000;
    font-family: 'Nanum Gothic';
    letter-spacing: 0;
    padding: 15px 0 0 267px;
}

#footer .copyright a:hover {
    text-decoration: underline;
}



.sns {
    position: absolute;
    top: 20px;
    right: 0;
}

.sns li {
    float: left;
    margin-left: 12px;
}

.sns li a img {
    opacity: 0.5;
}

.sns li a img:hover {
    opacity: 1;
}

.cre_mark {
    position: absolute;
    top: 133px;
    right: 58px;
}

.cre_mark li {
    float: left;
    margin-left: 12px;
}